body{
  margin: 0;
  padding: 0;
  min-width: 100 vw;
  min-height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

input {
  position: absolute;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
  z-index: 100;
}